footer {
	display: flex;
	padding: 1.5rem var(--padding);
	justify-content: center;
	align-items: center;
	background-color: var(--offwhite);
}

.footerContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerNavigationList {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.footerNavigationList li {
	color: var(--black);
	font-size: 1rem;
	font-weight: 400;
}

@media only screen and (max-width: 768px) {
	.footerContainer {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 2rem;
	}
	.footerNavigationList {
		flex-direction: column;
	}
}
